*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #7063c9;
    background: linear-gradient(90deg, rgba(112, 99, 201, 1) 0%, rgba(9, 9, 121, 1) 52%, rgba(0, 212, 255, 1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.converter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem;
    border: 2px solid black;
    background-color: #94BBE9;
    border-radius: 1rem;
    
    
}

.middle-section{
    display: flex;
    justify-content: space-between;
 
    align-items: center;
    /* gap: 1rem; */
    width: 100%;
}
.from, .to{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

img{
    width: 2rem;
    height: 2rem;
    /* cursor: pointer; */
}

.country{
    display: flex;
    gap: 0.5rem;
    border: 0.01rem solid gray;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

#select-first, #select-second{
    border: none;
    background-color: #94BBE9;
}

.icon{
    margin-top: 2rem;
    width: 2rem;
    height: 2rem;
}

.inputsection{
    display: flex;
    gap: 0.5rem;
}

#amount{
    border: 1px solid gray;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.input-text{
    font-size: 1.15rem;
    font-weight: 500;
}
#input-amount{
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 0.35rem;
    width: 8rem;
}
button{
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.35rem;
    border: none;
    background-color: #191821;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #383844;
}

.msg{
    font-size: 1rem;
    font-weight: 550;
}